/* ####################### SHOWCASE CARD STYLING ########################## */
.showcase {
    background: #ddd;
    padding: 10rem 0;
}

.row {
    height: 350px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.315);
}

.row1 {
    margin-bottom: 10rem;
}

.row1 .img-box,
.row2 .text-box {
    float: left;
    width: 50%;
}

.row2 .img-box,
.row1 .text-box {
    float: right;
    width: 50%;
}

.row .img-box {
    height: 100%;
}

.row .text-box {
    padding: 3rem;
}

.row .img-box img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .row {
        height: auto;
        width: 100%;
    }

    .row .img-box,
    .row .text-box {
        float: none;
        width: 100%;
        text-align: center;
    }
}