/* ################## GLOBAL STYLES ####################  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

ul li {
    list-style: none;
}

a {
    font-size: 1.6rem;
    text-decoration: none;
}

p,
li {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1,
h2,
h3 {
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

/* ################### UTILITY CLASSES ####################  */
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading {
    font-size: 3.5rem;
}

.md-heading {
    font-size: 2.2rem;
}

.text-red {
    color: #e63946;
}

.text-light {
    color: #f4f4f4;
}

.text-black {
    color: #333333;
}

.text-gray {
    color: #555555;
}

.bg-dark {
    background-color: #263238;
}

/* ################### BUTTON STYLES ####################  */
.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: #fff;
    border-radius: 10em;
    color: #333;
}

.btn-primary:hover {
    background-color: #ddd;
    transform: translateY(-2px);
}

.btn-secondary {
    border: 2px solid #e63946;
    border-radius: 2.5em;
    color: #e63946;
    background: #fff;
}

.btn-secondary:hover {
    background-color: #fcf3f2;
    transform: translateY(-2px);
}

/* ################### RESPONSIVE DESIGN ####################  */
@media (max-width: 500px) {
    html {
        font-size: 50%;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    html {
        font-size: 50%;
    }

    p {
        font-size: 1.8rem;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    html {
        font-size: 56.25%;
    }
}